header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    .navbar{
        display: block;
    }
    .navbar-brand{
        color: $white;
        font-size: 1.6rem;
        font-weight: 700;
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 30px;
        line-height: inherit;
        white-space: nowrap;
    }
    .navbar-toggler-icon{
        margin-top: 10px;
    }
    .navbar-collapse{
        z-index: 1;
        .navbar-nav{
            @include media-breakpoint-down(sm){
                background-color: $white;
                -webkit-box-shadow: 0 20px 45px -10px rgba(0, 0, 0, 0.15);
                box-shadow: 0 20px 45px -10px rgba(0, 0, 0, 0.15);
                    li{
                        margin-left: 20px;
                        padding: 10px;
                        a{
                            color: $black !important;
                        }
                }
            }
        }    
        ul{
            li{
                display: flex;
                align-items: center;
                margin-left: 15px;
                margin-right: 15px;
                padding: 10px 0;
                position: relative;
                padding-right: 10px;
                a{
                    color: $white;
                    font-size: 16px;
                    line-height: 1.5;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: .5rem 1rem;
                    transition: all 0.5s ease-in-out;
                    &::before{
                        background-color: $white;
                        content: "";
                        position: absolute;
                        margin-left: 10px;
                        width: 0%;
                        bottom: 6px;
                        left: 0;
                        height: 2px;
                        transition: all 500ms ease;
                    }
                    &:hover{
                        color: $white;
                        transition: all 0.4s ease-in-out;
                        &::before{
                            width: 35px;
                        }
                    }
                    @include media-breakpoint-down(md){
                        font-size: 9px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 16px;
                        font-weight: 600;
                        padding: 0 !important;
                    }
                    &.active{
                        color: $white;
                        transition: all 0.4s ease-in-out;
                        &::before{
                            width: 35px;
                        }
                    }
                }
            }
        }
    }
    .fixed-header{
        background-color: $white;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 20;
        .navbar-brand{
            color: $black !important;
        }
        ul{
            li{
                a{
                    color: $black !important;
                    transition: .3 all ease-in-out;
                    &:hover{
                        color: $theme-color;
                        transition: .3 all ease-in-out;
                    }
                }
            }
        }
        &.active{
            color: $black !important;
            transition: all 0.4s ease-in-out;
        }                
        // .navbar-nav{
        //     .active{
        //         color: $theme-color !important;
        //     }
        // }
        .functional-buttons{
            ul{
                li{
                    &:first-child a {
                        border: 2px solid $theme-color !important;
                        color: $theme-color !important;
                    }
                }
            }  
            .navbar-toggler{
                border: 2px solid $theme-color;
            }      
        }
    }
}