#hero{
    background-image: url(../images/intro-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    color: $white;
    .overlay-itro {
        background-color: rgba(0,0,0,0.6);
        position: absolute;
        top: 0;
        left: 0px;
        padding: 0;
        height: 100%;
        width: 100%;
        opacity: .9;
    }
    .intro-content {
        text-align: center;
        position: absolute;
    }
    .display-table {
        width: 100%;
        height: 100%;
        display: table;
    }
    .intro-title {
        color: $white;
        font-weight: 600;
        line-height: 1.2;
        font-size: 64px;
    }
    p{
        font-size: 30px;
        font-weight: 600;
        color: $white;
        line-height: 1.5;
    }
    .table-cell {
        display: table-cell;
        vertical-align: middle;
    }
}