<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <title>Frame</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <section id="hero">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <h1 class="intro-title mb-4">I am Morgan Freeman</h1>
                    <p class="intro-subtitle">Web Designer</p>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mt-4">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img"><img src="images/testimonial-2.jpg"
                                                class="img-fluid rounded b-shadow-a" alt="website template image"></div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name:</span> <span>Morgan Freeman</span></p>
                                            <p><span class="title-s">Profile:</span> <span>full stack developer</span>
                                            </p>
                                            <p><span class="title-s">Email:</span> <span>contact@example.com</span></p>
                                            <p><span class="title-s">Phone:</span> <span>(617) 557-0089</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-mf">
                                    <p class="title-s">Skill</p>
                                    <span>HTML</span> <span class="pull-right">85%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width:85%;"
                                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>CSS3</span> <span class="pull-right">75%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width:75%"
                                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>PHP</span> <span class="pull-right">50%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width:50%"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width:90%"
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">About me</h5>
                                    </div>
                                    <p class="lead">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
                                        Curabitur arcu
                                        erat, accumsan id imperdiet et, porttitor at sem. Praesent sapien massa,
                                        convallis a
                                        pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt.</p>
                                    <p class="lead">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus
                                        suscipit tortor
                                        eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula
                                        elementum sed sit amet
                                        dui. porttitor at sem.</p>
                                    <p class="lead">Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut
                                        lacinia in,
                                        elementum id enim. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet
                                        elit, eget
                                        tincidunt nibh pulvinar a.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="section-heading text-center">
                        <h3 class="title-a">Services</h3>
                        <p class="subtitle-a">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico"><span class="ico-circle"><i class="fas fa-tv"></i></span></div>
                        <div class="service-content">
                            <h2 class="s-title">Web Design</h2>
                            <p class="s-description text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Magni
                                adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non
                                provident.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico"><span class="ico-circle"><i class="fas fa-code"></i></span></div>
                        <div class="service-content">
                            <h2 class="s-title">Web Development</h2>
                            <p class="s-description text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Magni
                                adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non
                                provident.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico"><span class="ico-circle"><i class="fas fa-camera"></i></span></div>
                        <div class="service-content">
                            <h2 class="s-title">Photography</h2>
                            <p class="s-description text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Magni
                                adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non
                                provident.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico"><span class="ico-circle"><i class="fas fa-mobile-alt"></i></span></div>
                        <div class="service-content">
                            <h2 class="s-title">Responsive Design</h2>
                            <p class="s-description text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Magni
                                adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non
                                provident.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico"><span class="ico-circle"><i class="fas fa-paint-brush"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Graphic Design</h2>
                            <p class="s-description text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Magni
                                adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non
                                provident.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico"><span class="ico-circle"><i class="fas fa-chart-bar"></i></span></div>
                        <div class="service-content">
                            <h2 class="s-title">Marketing Services</h2>
                            <p class="s-description text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Magni
                                adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non
                                provident.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="time">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box">
                        <div class="counter-ico"><span class="ico-circle"><i class="fas fa-check"></i></span></div>
                        <div class="counter-num">
                            <p class="counter">450</p>
                            <span class="counter-text">WORKS COMPLETED</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box">
                        <div class="counter-ico"><span class="ico-circle"><i class="fas fa-check"></i></span></div>
                        <div class="counter-num">
                            <p class="counter">15</p>
                            <span class="counter-text">YEARS OF EXPERIENCE</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box">
                        <div class="counter-ico"><span class="ico-circle"><i class="fas fa-check"></i></span></div>
                        <div class="counter-num">
                            <p class="counter">550</p>
                            <span class="counter-text">TOTAL CLIENTS</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box">
                        <div class="counter-ico"><span class="ico-circle"><i class="fas fa-check"></i></span></div>
                        <div class="counter-num">
                            <p class="counter">36</p>
                            <span class="counter-text">AWARD WON</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="section-heading text-center">
                        <h3 class="title-a">Portfolio</h3>
                        <p class="subtitle-a">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="#" class="img-fluid">
                            <div class="work-img">
                                <img src="images/work-1.jpg" alt="website template image" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Lorem impsum dolor</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span>
                                            /
                                            <span class="w-date">18 Sep.2045</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="#" class="img-fluid">
                            <div class="work-img">
                                <img src="images/work-2.jpg" alt="website template image" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Lorem impsum dolor</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span>
                                            /
                                            <span class="w-date">18 Sep.2045</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="#" class="img-fluid">
                            <div class="work-img">
                                <img src="images/work-3.jpg" alt="website template image" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Lorem impsum dolor</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span>
                                            /
                                            <span class="w-date">18 Sep.2045</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="#" class="img-fluid">
                            <div class="work-img">
                                <img src="images/work-4.jpg" alt="website template image" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Lorem impsum dolor</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span>
                                            /
                                            <span class="w-date">18 Sep.2045</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="#" class="img-fluid">
                            <div class="work-img">
                                <img src="images/work-5.jpg" alt="website template image" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Lorem impsum dolor</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span>
                                            /
                                            <span class="w-date">18 Sep.2045</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="#" class="img-fluid">
                            <div class="work-img">
                                <img src="images/work-6.jpg" alt="website template image" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Lorem impsum dolor</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span>
                                            /
                                            <span class="w-date">18 Sep.2045</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <i class="fas fa-plus-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial text-center">
        <div class="overlay-mf"></div>
        <div class="container">

            <div class="heading white-heading">
                Testimonial
            </div>
            <div id="testimonial4"
                class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
                data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonial4_slide">
                            <img src="images/testimonial-4.jpg" class="img-circle img-responsive" />
                            <h4>Marta Socrate</h4>
                            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit
                                amet, consectetur adipiscing
                                elit. </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="images/testimonial-2.jpg" class="img-circle img-responsive" />
                            <h4>Xavi Alonso</h4>
                            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit
                                amet, consectetur adipiscing
                                elit. </p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="section-heading text-center">
                        <h3 class="title-a">BLOG</h3>
                        <p class="subtitle-a">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 space">
                    <div class="card card-blog">
                        <div class="card-img">
                            <a href="#">
                                <img src="images/post-1.jpg" alt="website template image" class="img-fluid">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-category-box">
                                <div class="card-category">
                                    <h6 class="category">Travel</h6>
                                </div>
                            </div>
                            <h3 class="card-title">
                                <a href="#">See more ideas about Travel</a>
                            </h3>
                            <p class="card-description">Proin eget tortor risus. Pellentesque in ipsum id orci porta
                                dapibus. Praesent
                                sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
                        </div>
                        <div class="card-footer">
                            <div class="post-author">
                                <a href="#">
                                    <img src="images/testimonial-2.jpg" alt="website template image"
                                        class="avatar rounded-circle">
                                    <span class="author">Morgan Freeman</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 space">
                    <div class="card card-blog">
                        <div class="card-img">
                            <a href="#">
                                <img src="images/post-2.jpg" alt="website template image" class="img-fluid">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-category-box">
                                <div class="card-category">
                                    <h6 class="category">Travel</h6>
                                </div>
                            </div>
                            <h3 class="card-title">
                                <a href="#">See more ideas about Travel</a>
                            </h3>
                            <p class="card-description">Proin eget tortor risus. Pellentesque in ipsum id orci porta
                                dapibus. Praesent
                                sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
                        </div>
                        <div class="card-footer">
                            <div class="post-author">
                                <a href="#">
                                    <img src="images/testimonial-2.jpg" alt="website template image"
                                        class="avatar rounded-circle">
                                    <span class="author">Morgan Freeman</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 space">
                    <div class="card card-blog">
                        <div class="card-img">
                            <a href="#">
                                <img src="images/post-3.jpg" alt="website template image" class="img-fluid">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-category-box">
                                <div class="card-category">
                                    <h6 class="category">Travel</h6>
                                </div>
                            </div>
                            <h3 class="card-title">
                                <a href="#">See more ideas about Travel</a>
                            </h3>
                            <p class="card-description">Proin eget tortor risus. Pellentesque in ipsum id orci porta
                                dapibus. Praesent
                                sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
                        </div>
                        <div class="card-footer">
                            <div class="post-author">
                                <a href="#">
                                    <img src="images/testimonial-2.jpg" alt="website template image"
                                        class="avatar rounded-circle">
                                    <span class="author">Morgan Freeman</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-us">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">Send Message Us</h5>
                                    <div>
                                        <form action="#" method="post" role="form" class="contactForm">
                                            <div class="sendmessage">Your message has been sent. Thank you!</div>
                                            <div class="errormessage"></div>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="text" name="name" class="form-control"
                                                            placeholder="Your Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" name="email">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="subject">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                                                </div>
                                            </div>    
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">Get in Touch</h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem
                                        soluta quidem expedita aperiam aliquid at. Totam magni ipsum suscipit amet? Autem nemo esse
                                        laboriosam ratione nobis mollitia inventore?</p>
                                    <!-- <ul class="list-ico">
                                        <li><span class="ion-ios-location"></span> 329 WASHINGTON ST BOSTON, MA 02108</li>
                                        <li><span class="ion-ios-telephone"></span> (617) 557-0089</li>
                                        <li><span class="ion-email"></span> contact@example.com</li>
                                    </ul> -->
                                </div>
                                <!-- <div class="socials">
                                    <ul>
                                        <li><a href="https://www.free-css.com/free-css-templates"><span class="ico-circle"><i
                                                        class="ion-social-facebook"></i></span></a></li>
                                        <li><a href="https://www.free-css.com/free-css-templates"><span class="ico-circle"><i
                                                        class="ion-social-instagram"></i></span></a></li>
                                        <li><a href="https://www.free-css.com/free-css-templates"><span class="ico-circle"><i
                                                        class="ion-social-twitter"></i></span></a></li>
                                        <li><a href="https://www.free-css.com/free-css-templates"><span class="ico-circle"><i
                                                        class="ion-social-pinterest"></i></span></a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 200) {
                $('nav').addClass('fixed-header');
            }
            else {
                $('nav').removeClass('fixed-header');
            }
        });
    </script>
</body>

</html>